#
####### requirements.txt #######
#
###### Requirements without Version Specifiers ######\
python-logilab-common
pandas
numpy
sympy
nose
scipy
#
###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers